footer {    
    background-color: #ffe8b4;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8% 24px 8%;
}

#copyright {
    color: var(--secondary-color)aa;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width : 700px) {
    #footer-items {
        flex-direction: column;
        gap: 20px;
    }
}
