

#menu {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#dishes {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;

}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    flex: 0 0 auto;
    min-width: 280px;   
    max-width: 320px;   
    padding: 40px;      
    gap: 18px;
    width: 25%;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition:  0.3s ease;
    overflow: hidden;
}

.dish:hover {
    transform: scale(1.05) !important;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.15);
}

.dish img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
} 

.dish-heart {
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #fff;
    width: 50px;
    height: 50px;
    right: -5px;
    top: -10px;
    border-radius: 0 32px 0 42px;
   
}

.dish-description {
    text-align: center;
    color: #434343;
    min-width: 200px;
    min-height: 90px;
}


.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width : 1570px) {
    #dishes {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #menu {
        margin-top: 100px;
    }
}

@media screen and (max-width : 1170px) {
    .dish {
        width: calc(50% - 12px);
    }

    .dish-description {
        min-width: 150px;
        min-height: 75px;
    }
    
}

@media screen and (max-width : 700px) {
    #menu {
        margin-top: 40px;
    }

    #menu .section-subtitle {
        text-align: center; 
        font-size: 1.9rem;
    }
}
