

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#dishes {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: wrap;

}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    flex: 1;
    min-width: 280px;   
    max-width: 320px;   
    padding: 20px;      
    gap: 18px;
    width: 25%;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.2s ease;
}

.dish:hover {
    transform: scale(1.05);
}

.dish img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
} 