

#reviews {  
    min-height: calc(100vh -91);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#review-chef {
    width: 600px;
    height: auto;
}

#reviews .section-title {
    text-align: center;
}

#reviews .section-subtitle {
    font-size: 2.5rem;
}

#reviews-content {
    width: 50%;
    flex-direction: column;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}
 

.feedback {
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 12px;
    gap: 20px;
}

.feedback-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}




@media screen and (max-width : 1220px) {
    #reviews {
        flex-direction: column;
    }

    #reviews .section-subtitle {
        font-size: 2.2rem;
        text-align: center;
    }


    #review-chef {
        display: none;
    }

    #reviews-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width : 620px) {


    #reviews .section-subtitle {
        font-size: 2rem;
    }

    #reviews-content {
        width: 95%;       
    }

    .feedback {
        flex-direction: column;
        text-align: center;
    }
}
